*.egg-info/
*.pyc
.pipinstall.log
.pytest_cache/
.venv/
__pycache__/
build/
dist/
tests/gvsoc/gemm/shape.h
tests/gvsoc/mlir_app/main.c
tests/gvsoc/rowops/shape.h
tests/gvsoc/siglip_layer/shape.h
tests/gvsoc/siglip_layer/last_run.log
